/* This is for getting rid of the default margin and padding and stuff like that */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    font-family: monospace sans-serif;
    list-style-type: none;
    text-decoration: none;
}
#loading{
    width: 400px;
    height: 400px;
    margin: 10% auto;
    background-image: url('./images/loading.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-left: 30%; */
}
/* This is the anchor tag css */
#anchor{
    text-decoration: none;
    color: black;
}
#Color{
    background-color:powderblue;
    color: white;
}
/* This is the h1 and h2 heading */
h2,h1{
    color: indigo;
}
/* This is for that where i have written to view more projects like this     */
.View-More{
    text-align: center;
}
/* This is the main container */
.Container{
    width: 100%;
    display: none;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
/* This is the css for the brand i.e for Touseef Haider */
.Brand{
    padding: 26px;
    color: white;
}
/* This is the css for the navbar  */
.Navbar{
    width: 100%;
    display: flex;
    position: fixed;
    top: 0px;
    justify-content: space-between;
    background-color: lightblue;
}
/* Navbar first Div and its ul */
.NavbarMenu ul{
    display: flex;
    padding: 20px;
}
/* li inside the ul of Navbar menu */
.NavbarMenu ul li{
    list-style-type: none;
    padding: 20px;
}
/* Every anchor tag of the list  */
.NavbarMenu ul li a{
    text-decoration: none;
    color: white;
    font-size: x-large;
}
/* Hover effect for the anchor tags */
.NavbarMenu ul li a:hover{
    text-decoration: none;
    color: indigo;
}
/* active anchor tag */
.NavbarMenu ul li a.active{
    border-bottom: 1px solid white;
}

/* Hamburger button */
#btn{
    display: none;
}
/* Here are some projects */
.some-projects{
    text-align: center;
}
/* This is the css for my introduction area */
.Intro{
    display: flex;
    flex-direction: column;
    background-color:lavender;
    align-items: center;
    padding-bottom: 25px;
    justify-content: center; 
    text-align: center;
    overflow: scroll;
}
.Intro h1{
    margin-top: 30px;
}
.Image{
    margin-top: 105px;
    width: 300px;
    height: 300px;
    background-image: url('./images/Touseef.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* This is the place for the css of the projects */
.Projects{
    display: flex;
    flex-direction: column;
}
.First-project{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Second-project{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Third-project{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Four-project{
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* This is very important for every image in this portfolio  */
img{
    width: 100%;
}
#large-image{
    align-self: center;
}
#small-image{
    display: none;
}
/* This is for every button */
#anchor-in-project{
    margin-top: 10px;
    align-self: center;
    padding: 10px;    
    background-color: grey;
    border: none;
    height: 50px;
    color: white;
    font-size: large;;
    cursor: pointer;
    margin-bottom: 20px;
}
#anchor-in-project:hover{
    border: 2px solid grey;
    background-color: white;
    color: grey;
}
/* This is the css for the contact page */
.Contact{
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: wheat;
}
.Get-In-Touch{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
.Get-In-Touch span{
    align-self: center;
    justify-self: center;
}
.Text-area{
    padding: 15px;
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr;
}
textarea{
    border: 2px solid grey;
    text-align: center;
    justify-self: center;
    font-size: large;
    border:2px solid grey;
    border-radius: 20px;
}
input{
    height: 35px;
    justify-self: center;
    margin: 10px;
    font-size: x-large;
    text-align: center;
    border:2px solid grey;
    border-radius: 20px;
}
#message-send{
    height: 35px;
    border: 2px solid grey;
    border-radius: 20px;
    color: white;
    font-size: x-large;
    background-color: grey;
    justify-self: center;
}
#message-send:hover{
    color: grey;
    border: 2px solid grey  ;
    background-color: white;
    justify-self: center;
}
/* this is the css for the about page */
.Self-Intro{
    margin:120px auto 0px;
    text-align: center;
    font-size: larger;
    word-wrap: break-word;
    color: indigo;
}
.Skills{
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
}
.skill{
    width: 50%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.skill-set{
    margin: 10px auto;
}
.skill-bar{
    width: 100%;
    align-items: center;
    justify-self: flex-end;
    background-color: lightgrey;
    display: flex;
}
.html-color{
    width: 90%;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.csharp-color{
    width: 80%;
    height: 30px;
    background-color: #333111;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.css-color{
    width:80%;
    height: 30px;
    background-color: #2196F3;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.js-color{
    width:85%;
    height: 30px;
    background-color: #f44336;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.react-color{
    width:75%;
    height: 30px;
    background-color: orange;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.node-color{
    width:90%;
    height: 30px;
    background-color: cyan;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* This is the footer area. */
footer{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color:lavender;
}
footer .Icons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    justify-items: center;
}
footer .Icons a{
    font-size: 50px;
    padding: 20px;
}
footer .Icons a i:hover{
    color: lightskyblue;
}
/* For making responsive this is the css */
@media (max-width:852px){
    .Navbar{
        flex-direction: column;
    }
    .NavbarMenu{
        display: flex;
        display: none;
    }
    .NavbarMenu ul{
        flex-direction: column;
        padding: 0;
    }
    .NavbarMenu ul li{
        width: 100%;
        margin: 5px;
        align-self: center;
        text-align: center;
    }
    /* This is the css for the button which is responsible for the toggle menu */
    #btn{
        display: block;
        width: 50px;
        height: 25px;
        position: absolute;
        right: 35px;
        top: 37px;
        color: white;
        border: none;
        background-color: grey;
        border-radius: 12px;
        font-size: large;
    }
    /* it is the hover effect of the hamburger menu */
    #btn:hover{
        background-color: white;
        color: grey;
    }
    /* This is the css for the image which is being disabled here because this is the image with the maximum size */
    #large-image{
        display: none
    }
    /* This is the css for the image which is being enabled here  */
    #small-image{
        display: block;
    }
    /* Here is the css for the contact page */
    .Text-area{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    /* This is the place for the css of the body of the textarea  */
    textarea{
        width: 100%;    
        border: 2px solid grey;
        text-align: start;
        justify-self: center;
    }
    /* This is the css for the contact page and this css is for the input in the contact pages  */
    input{
        width: 100%;
        height: 35px;
        font-size:  elarge;
        justify-self: center;
    }
    /* This is the css for the footer section in the index.html */
    footer{
        flex-direction:column;
        align-content: flex-start;
    }
    .Intro{
        width: 100%;
        height: 900px;
    }
    /* This is the css for the div with the class of the image  */
    .Image{
        padding-top: 430px;
        margin-top: 50px;
        width: 100%;
    }
    /* This is the css for the icons of the both index.html and contact page */
    footer .Icons i{
        font-size: 50px;
    }
    footer .Icons a{
        padding: 5px;
    }
    #loading{
        width: 100%;
        margin: 0px;
    }
    .skill{
        width: 100%;
        display: flex;
        padding: 5px;
        flex-direction: column;
        justify-content: space-around;
    }
    
}
